{% extends "base.html" %}

{% block content %}
    <!-- Page Content -->
    <div class="container short">

        <!-- Page Heading -->
        <h1 class="my-4" style="text-align: center">Our API</h1>
        <div class="row">

            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">
                            <span style="color: darkgreen;"> POST </span> /api/news
                        </h2>
                        <h4>- add news</h4>

                        <h5>- write your own article and share with us</h5>

                        <p>- optional: urlToImage</p>
                        <h4>example:</h4>
                        <img class="img-fluid rounded" src="/static/images/post.png" alt="">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 portfolio-item">
                <div class="card h-100">
                    <div class="card-body">
                        <h2 class="card-title">
                            <span style="color: darkorange"> GET </span> /api/news
                        </h2>
                        <h4>- retrieve all our awesome news stored in web</h4>
                        <p>retrieved data are in json array object</p>
                        <h4>example:</h4>
                        <img class="img-fluid rounded" src="/static/images/get.png" alt="">
                    </div>
                </div>
            </div>


        </div>

    </div>
    <!-- /.container -->
{% endblock %}