<table class="table table-striped ">
        <thead class="thead-dark">
        <tr>
            <th scope="col"><h3 style="margin-bottom: 0">{{ divisions.division.name }}</h3></th>
            <th scope="col">GP</th>
            <th scope="col">W</th>
            <th scope="col">L</th>
            <th scope="col">OT</th>
            <th scope="col">PTS</th>
            <th scope="col">ROW</th>
            <th scope="col">GF</th>
            <th scope="col">GA</th>
        </tr>
        </thead>
        <tbody>
        {% for team in divisions.teamRecords %}
            <tr>
                <th scope="row"><a href="teams/{{ team.team.id }}">{{ team.divisionRank }} - {{ team.team.name }}</a></th>
                <td>{{ team.gamesPlayed }}</td>
                <td>{{ team.leagueRecord.wins }}</td>
                <td>{{ team.leagueRecord.losses }}</td>
                <td>{{ team.leagueRecord.ot }}</td>
                <td>{{ team.points }}</td>
                <td>{{ team.row }}</td>
                <td>{{ team.goalsScored }}</td>
                <td>{{ team.goalsAgainst }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>