{% extends "base.html" %}

{% block content %}
    <div class="short container">
        <h1 style="text-align: center">goNHL</h1>
        <div>
            <h2>What you can find here</h2>
            <ul>
                <li>awesome articles from NHL news</li>
                <li>List of all teams</li>
                <li>More information about team</li>
                <ul>
                    <li>roster of active players</li>
                    <li>last game</li>
                    <li>schedule for next month</li>
                </ul>
                <li>Statistics of teams divided into divisions and conferences.</li>
                <li>Own API</li>
                <ul>
                    <li>write your own article and share with us</li>
                    <li>retrieve all articles from our web</li>
                </ul>
            </ul>

            <h2>Technologies</h2>
            <ul>
                <li>Python 3.6</li>
                <li>Flask</li>
                <li>TinyDb</li>
                <ul>
                    <li>save articles from post method</li>
                    <li>save player's statistics(refresh once a day)</li>
                </ul>
            </ul>

            <h2>Used API</h2>
            <ul>
                <li>NHL API - <a href="https://github.com/dword4/nhlapi">link</a> </li>
                <li>NHL news API - <a href="https://newsapi.org/s/nhl-news-api">link</a></li>
            </ul>

            <h2>Server</h2>
            <ul>
                <li>Heroku - <a href="www.heroku.com">link</a></li>
            </ul>

        </div>

    </div>
{% endblock %}