{% extends "base.html" %}

{% block content %}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <h1 style="text-align: center" class="my-4">News<!-- <small>Secondary Text</small>--></h1>
        <div class="row">
            {% for post in news %}

                <div class="col-lg-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{{ post.urlToImage }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </h4>
                            <p class="card-text">{{ post.description }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% for post in news_from_db %}

                <div class="col-lg-6 portfolio-item">
                    <div class="card h-100">
                        <a href="#"><img class="card-img-top" src="{{ post.urlToImage }}" alt=""></a>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/news/{{ post.link }}">{{ post.title }}</a>
                            </h4>
                            <p class="card-text">{{ post.description }}</p>
                        </div>
                    </div>
                </div>
                <div style="margin-bottom: 20px">

                </div>
            {% endfor %}


        </div>
        <!-- /.row -->

        <!-- Pagination
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul > -->

    </div>
    <!-- /.container -->
{% endblock %}