{% extends "base.html" %}

{% block content %}

    <div class="container">


        <!-- Title -->
        <h1 class="mt-4">{{ news_from_db.title }}</h1>

        <!-- Author -->
        <p class="lead">
            by
            {{ news_from_db.author }}
        </p>

        <hr>

        <!-- Date/Time -->
        <p>{{ news_from_db.date }}</p>

        <hr>

        <!-- Preview Image -->

        {% if news_from_db.urlToImage %}
            <img class="img-fluid rounded" src="{{ news_from_db.urlToImage }}" alt="">
        {% else %}
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
        {% endif %}


        <hr>
        {{ news_from_db.content }}


    </div>




    </div>
    <!-- /.container -->

{% endblock %}