<table class="table table-striped ">
    <thead class="thead-dark">
    <tr>
        <th scope="col"><h4 style="margin-bottom: 0; color: darkgoldenrod" >{{ position }}</h4></th>
        <th scope="col">jersey</th>
        <th scope="col">position</th>
        <th scope="col">points</th>
        <th scope="col">goals</th>
        <th scope="col">assists</th>
    </tr>
    </thead>
    <tbody>
    {% for roster in rosters %}
        <tr>
            <td scope="row">{{ roster.person.fullName }}</td>
            <td scope="row">{{ roster.jerseyNumber }}</td>
            <td scope="row">{{ roster.position.name }}</td>
            <td scope="row">{{ roster.points }}</td>
            <td scope="row">{{ roster.goals }}</td>
            <td scope="row">{{ roster.assists }}</td>

        </tr>
    {% endfor %}
    </tbody>
</table>