{% extends "base.html" %}

{% block content %}
    <div class="container">

        <h1 style="text-align: center; margin-top: 20px">STATISTICS</h1>

        <h2 style="color: red;">{{ metropolitan.conference.name }}</h2>

        {% with divisions=metropolitan %}
            {% include "division_table.html" %}
        {% endwith %}

        {% with divisions=atlantic %}
            {% include "division_table.html" %}
        {% endwith %}

        <h2 style="color: red;">{{ central.conference.name }}</h2>

        {% with divisions=central %}
            {% include "division_table.html" %}
        {% endwith %}

        {% with divisions=pacific %}
            {% include "division_table.html" %}
        {% endwith %}


    </div>
{% endblock %}
