{% extends "base.html" %}

{% block content %}


    <!-- Page Content -->
    <div class="container">
        <h1 style="text-align: center; margin-bottom: 20px; margin-top: 20px" >NHL teams</h1>
        <!-- Team Members Row -->
        <div class="row">
            <!-- <div class="col-lg-12">
                 <h2 class="my-4">Our Team</h2>
             </div>-->

            {% for team in teams %}
                <div class="col-lg-4 col-sm-6 text-center mb-4">
                    <a href="teams/{{ team.id }}">
                        <img class="rounded-circle img-fluid d-block mx-auto" src="/static/images/{{ team.id }}.gif" alt="">
                        <h3>{{ team.name }}</h3>
                    </a>
                    <!--<small>Job Title</small>
                    <p>{{ team.officialSiteUrl }}</p>-->
                </div>
            {% endfor %}


        </div>

    </div>
    <!-- /.container -->






{% endblock %}