{% extends "base.html" %}

{% block content %}
    <div class="container">

        <h1 style="text-align: center; color: dodgerblue"> {{ team.name }}
            <small style="font-size: 12px"><a href="{{ team.officialSiteUrl }}">oficial site</a></small>
        </h1>

        <h2 style="color: darkslategray">Players</h2>
        {% with rosters=centers, position="Center" %}
            {% include "players_statistics.html" %}
        {% endwith %}

        {% with rosters=left_wings, position="Left wing" %}
            {% include "players_statistics.html" %}
        {% endwith %}

        {% with rosters=right_wings, position="Right wing" %}
            {% include "players_statistics.html" %}
        {% endwith %}

        {% with rosters=defenders, position="Defender" %}
            {% include "players_statistics.html" %}
        {% endwith %}

        <table class="table table-striped ">
            <thead class="thead-dark">
            <tr>
        <th scope="col"><h4 style="margin-bottom: 0; color: darkgoldenrod" >Goalie</h4></th>
                <th scope="col">jersey</th>
                <th scope="col">position</th>
                <th scope="col">games</th>
                <th scope="col">wins</th>
                <th scope="col">losses</th>
                <th scope="col">succession</th>
                <th scope="col">shot outs</th>
                <th scope="col">shots</th>
            </tr>
            </thead>
            <tbody>
            {% for roster in goalies %}
                <tr>
                    <td scope="row">{{ roster.person.fullName }}</td>
                    <td scope="row">{{ roster.jerseyNumber }}</td>
                    <td scope="row">{{ roster.position.name }}</td>
                    <td scope="row">{{ roster.gamesStarted }}</td>
                    <td scope="row">{{ roster.wins }}</td>
                    <td scope="row">{{ roster.losses }}</td>
                    <td scope="row">{{ roster.savePercentage }}</td>
                    <td scope="row">{{ roster.shutouts }}</td>
                    <td scope="row">{{ roster.saves }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>

        <h2 style="color: darkslategray">Last game</h2>

        {% if last_game != {} %}
            <h4> {{ last_game.gameData.teams.home.name }}
                {% if last_game.liveData.linescore.teams.home.goals > last_game.liveData.linescore.teams.away.goals %}
                    <span style="color: blue"> {{ last_game.liveData.linescore.teams.home.goals }} :
                        {{ last_game.liveData.linescore.teams.away.goals }}</span>
                {% else %}
                    <span style="color: red"> {{ last_game.liveData.linescore.teams.home.goals }} :
                        {{ last_game.liveData.linescore.teams.away.goals }}</span>
                {% endif %}

                ({% for period in last_game.liveData.linescore.periods %}
                    {% if period.num != 1 %}
                        ,
                    {% endif %}
                    {{ period.home.goals }} : {{ period.away.goals }}
                {% endfor %}

                {% if last_game.liveData.linescore.shootoutInfo.home.scores !=0
                or last_game.liveData.linescore.shootoutInfo.away.scores !=0 %}
                    , {{ last_game.liveData.linescore.shootoutInfo.home.scores }} :
                    {{ last_game.liveData.linescore.shootoutInfo.away.scores }}
                {% endif %}
                )

                {{ last_game.gameData.teams.away.name }}
            </h4>
        {% endif %}
        <h2 style="color: darkslategray">Next games</h2>

        <table class="table table-striped ">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Home</th>
                <th scope="col">Away</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>

            </tr>
            </thead>
            <tbody>
            {% for game in games.dates %}
                <tr>
                    <th scope="row"><a
                            href="./{{ game.games[0].teams.home.team.id }}">{{ game.games[0].teams.home.team.name }}</a>
                    </th>
                    <th scope="row"><a
                            href="./{{ game.games[0].teams.away.team.id }}">{{ game.games[0].teams.away.team.name }}</a>
                    </th>
                    <td>{{ game.date }}</td>
                    <td>{{ game.games[0].gameDate | datetimefilter }}</td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}